<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header> 
        <!--Header content-->
        <h1>Home</h1>
    </header>
    <nav>
        <!--Navigation content-->

    </nav>
    <aside>
        <!--Side content-->

    </aside>
    <main>
        <!--Main website content-->
        
        <h2 th:text="${message}"></h2>

        
        
        
    </main>
    <footer>
        <!--Footer content-->
        <h3>Created by Hampus Olsson</h3>
    </footer>
    </form>
</body>
</html>
